* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #546B41;
    display: flex;
    flex-direction:column;
    height: 100vh;

}

.header {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 100px;
    padding-block: 10px;
}

.navLinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}

.navLinks li a {
    text-decoration: none;
    color: black;

}

.heroSection {
    display: flex;
    flex-direction: row;
    padding-inline: 100px;
    padding-block: 50px;
    
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items:start;
    align-self:flex-start;
}

.heroText p {
    margin-top: 10px;
    text-align: justify;
    margin-bottom: 20px;
}

.heroImage {
    padding-left: 100px;
}

.hero-button {
    background-color: #FFF7CD;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.content {
    background-color: #FFF7CD;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 10px;
    gap: 30px;
}

.content h2 {
    font-size: 32px;
    font-weight: bold;
}

.images {
    display:flex;
    flex-direction: row;
    gap: 20px;
    align-items:flex-end;
    padding-inline-start: 100px;
   
}

.images div {
    display: flex;
    flex-direction: column;
    max-height:fit-content;
    justify-content: center;
    font-style: italic;
}


.quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.quotes p {
    font-style: italic;
    text-align: center;
    font-size: 32px;
    max-width: 800px;
}

.quotes cite {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}


.signup {
    flex: 1;
    display: flex;
   padding: 20px;
}

.signup-content {
    background-color: #546B41;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 350px;
}